@page
@model MyRazorApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="container rounded-4 text-center p-3 w-50 " style="margin-top: 15%" >
    <div class="container rounded-2 p-2">
        <h3 class="fw-bold">Ресторан "Уютный уголок"</h3>
        <p> Ресторан <strong>"Уютный уголок"</strong> предлагает разнообразное меню с блюдами местной и
            международной кухни, уютную атмосферу и отличный сервис.
        </p>
    </div>
</div>